.main {
    background-color: #e9e3e3;
    height: calc(100% - 108px);
    max-height: calc(100% - 108px);
    overflow-y: hidden;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 3px;
}

.chat-container {
    margin-bottom: 16px;
}

.chat-container.robot-container>* {
    float: left;
}

.chat-container.avatar-container>* {
    float: right;
}

.chat-container.robot-container>.chat-txt {
    margin-left: 10px;
    background-color: #fff;
    position: relative;
}

.chat-container.avatar-container>.chat-txt {
    margin-right: 10px;
    background-color: #98e855;
    position: relative;
}

.chat-txt {
    max-width: 600px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    color: #333;
    border-radius: 6px;
}

.chat-container.robot-container>.chat-txt:before {
    content: "";
    position: absolute;
    width: 0;
    padding: 0;
    border: 6px solid transparent;
    border-right-color: #ffffff;
    top: 18px;
    transform: translateY(-50%);
    left: -12px;
}

.chat-container.avatar-container>.chat-txt:after {
    content: "";
    position: absolute;
    width: 0;
    padding: 0;
    border: 6px solid transparent;
    border-left-color: #98e855;
    top: 18px;
    transform: translateY(-50%);
    right: -12px;
}

.chat-container:after {
    content: "";
    display: block;
    clear: both;
}

#article-container .chat-txt p:last-of-type {
    margin: 0;
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    line-height: 52px;
    background-color: #ebebeb;
    box-sizing: border-box;
    box-shadow: 0 -2px 5px #d8d8d8;
    text-align: center;
    border-radius: 3px;
}

.input {
    width: calc(100% - 64px);
    max-width: calc(100% - 64px);
    min-width: calc(100% - 64px);
    height: 35px;
    min-height: 35px;
    margin: 5px 3px -12px 0px;
    padding: 8px 10px;
    border: 1px solid #d8d8d8;
    color: #333;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 18px;
    outline: none;
    overflow: hidden;
    resize: none;
}

.send-btn {
    width: 54px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background-color: #02cb56;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
}

.note.success {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.note.success .choice-title {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.note.success .choice-content {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.note.success input {
    margin-right: 4px;
    transform: translateY(18%);
}